@import 'src/styles/mixins';
@import 'src/styles/constants';
@import 'src/styles/typography';

.textarea {
  border-radius: toRem(4);
  border: 1px solid $blue-grey-600;
  background: $white;
  padding: toRem(12) toRem(16);
  outline: none;
  @include typography($fontFamilyRobotoRegular, 400, toRem(16), toRem(24), 0.5px);

  &:hover {
    border: 1px solid $blue;
  }

  &:focus-within {
    border: 2px solid $blue;
  }
}

.error {
  border: 2px solid $red;

  &:hover {
    border: 1px solid $red;
  }

  &:focus-within {
    border: 2px solid $red;
  }
}

.removeResize {
  resize: none;
}
